html,body{
    margin: 0;
    padding: 0;
    font-family:courier,arial,helvetica;
    overflow-x: hidden;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

/* TOP Navigation Bar */

.topNav{
    background-color: black;
    color: aliceblue;
    margin: 0;
    height:50px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topNav a{
    text-decoration: none;
    color: aliceblue;
    font-size: 15px;
    padding: 10px;

}

a:hover{
    font-weight: bold;
}

a:visited{
    text-decoration: underline;
}

.button {
    border: none;
    color: black;
    margin: 20%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:courier,arial,helvetica;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
}

/* Project Showcase */

/* Physics */

.Physicstitle{
    background-color: #548d6c;
    color: white;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/* Physics Algorithm */

.boids, .quad, .perlin{
    width: 100%;
    float: left;
    height: 100%;
    text-align: center;
}

.physics p{
    padding-left: 10%;
    padding-right: 10%;
}

#physics_btn{
    border: #548d6c;
    border-style: solid;
    border-width: 0.5px;
}

#physics_btn:hover{
    background-color: #548d6c;
    color: #fff;
}

/* Machine Learning */

.Title_MachineLearning{
    background-color: #F13846;
    color: white;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.Machine_Learning{
    text-align: center;
}

.Machine_Learning a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.Machine_Learning p{
    padding-left: 10%;
    padding-right: 10%;
}

.Machine_Learning h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#Machine_btn{
    border: #F13846;
    border-style: solid;
    border-width: 0.5px;
}

#Machine_btn:hover{
    background-color: #F13846;
    color: #fff;
}

/* Miscellaneous Projects */

.Title_Arduino{
    background-color: #CBEFFF;
    color: black;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.Arduino{
    text-align: center;
}

.Arduino p{
    padding-left: 10%;
    padding-right: 10%;
}

/* Contact Me */

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #EEEEEE;
    height: 25vh;
    width: 100%;
    font-size: 20px;
    margin-top: 5%;
}

.contact a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    font-size: 80%;
    padding: 5px;
    border: none;
    border-bottom: 2px solid #000;
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
}

.contact a:hover{
    color: #EEEEEF;
    background-color: black;
}

.img-fluid{
    margin-top: 2%;
}

.divType_2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(159, 159, 159, 0.5);
    margin-top: 1%;
    height: 50vh;
    width: 100%;
    font-size: 30px;
}

.divType_2 a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    font-size: 80%;
    padding: 5px;
    border: none;
    border-bottom: 2px solid #000;
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
}

a:hover{
    color: #EEEEEF;
    background-color: black;
}